/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 24, 2023, 10:11:09 PM
    Author     : sergio
*/

/*
input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
}

input:valid {
    background-color: ivory;
    border: none;
    outline: 2px solid green;
    border-radius: 5px;
}
*/